.footer {
    background: #2C343E;
    margin-top: 200px;


    .footer__div {
        display: flex;
        align-items: center;
    }

     .container {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;

    }

    .footer__link {
        color: #83888F;
        font-family: "Barlow";
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 15px;
    }



    .footer__img {
        padding: 10px;

    }

    .footer__list {
        margin-left: 102px;
        display: flex;
        gap: 30px;

    }

    .footer__link:hover {
        color: #FEFCF7;
    }

    .path:hover {
        fill: #FDD6BA;
    }
    
}